@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Movie

<p>Thank you for adding to Joels Ever Expanding Movie Collection</p>

<h2>We Successfully added @Model.Title to the database</h2>