@{
    ViewData["Title"] = "Getting to know Joel";
}

<h1>Get to know Joel Hilton</h1>

<p>Joel Regularly performs at the Quick Wits Comedy Club</p>
<p>Check it out at: <a href="https://www.qwcomedy.com/">Quick Wits Comedy</a></p>


<br />
<br />

<p>Joel also stars on the podcast "Baconsale"</p>
<p>Check it out at: <a href="https://baconsale.com/">baconsale.com</a></p>
<img src="~/img/baconsalekate.jpg" />
