@{
    ViewData["Title"] = "Getting to know Joel";
}

<h1>Get to know Joel Hilton</h1>

<section class="content-section">
    <h2 class="section-header">Live Performances</h2>
    <p>Joel regularly performs at the Quick Wits Comedy Club.</p>
    <p>Check it out at: <a class="professional-link" href="https://www.qwcomedy.com/">Quick Wits Comedy</a></p>
</section>

<section class="content-section">
    <h2 class="section-header">Podcast Appearances</h2>
    <p>Joel also stars on the podcast "Baconsale".</p>
    <p>Check it out at: <a class="professional-link" href="https://baconsale.com/">baconsale.com</a></p>
    <img class="professional-image" src="~/img/baconsalekate.jpg" alt="Joel on Baconsale podcast" />
</section>
